.home-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--secondary-color);
  color: var(--text-light);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.auth-buttons button {
  padding: 8px 16px;
  margin-left: 10px;
  border-radius: 4px;
  border: none;
}

.btn-login {
  background-color: var(--primary-color);
  color: var(--text-light);
}

.btn-signup {
  background-color: var(--button-dark);
  color: var(--text-light);
}

.play-options button {
  width: 100%;
  padding: 20px;
  margin: 10px 0;
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  background-color: #3f3f3f;
  color: white;
  cursor: pointer;
}

.play-online-btn {
  background-color: var(--primary-color) !important;
}

.play-computer-btn {
  background-color: var(--button-dark) !important;
}

.solve-puzzles-btn {
  background-color: var(--primary-color);
}

.chess-today-btn {
  background-color: var(--button-dark);
}

/* Hover effects */
.btn-login:hover,
.play-online-btn:hover,
.solve-puzzles-btn:hover {
  background-color: var(--button-hover) !important;
}

.btn-signup:hover,
.play-computer-btn:hover,
.chess-today-btn:hover {
  background-color: #3d5166 !important;
}

.puzzles-section {
  margin-top: 40px;
  text-align: center;
}

/* Ajustes para el tablero de ajedrez */
.chess-board-container {
  background-color: var(--button-dark);
  padding: 10px;
  border-radius: 8px;
} 